.header {
    max-width: 100%;
    background-color: #EDF2F4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.header img {
    width: 200px;
}

.header ul {
    display: flex;
    list-style: none;
}

.header li {
    margin: .5rem;
}

.header a {
    text-decoration: none;
    color: black;
    font-size: 35px;
}

/* MEDIA @ MOBILE LAST */
@media (max-width: 480px) {
    .header {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header img {
        width: 100px;
    }

    .header a {
        text-decoration: none;
        color: black;
        font-size: 20px;
    }
}