/* ESTILO PAGINA DE "SERVICIOS" */
.fondo-ecocardiograma {
    background-image: url(https://img.europapress.es/fotoweb/fotonoticia_20201209140953_1200.jpg);
    height: 50vh;
    background-size: cover;
    background-position: center;
}

.fondo-ecocardiograma h1 {
    text-align: center;
    color: white;
    position: relative;
    top: 50%;
    font-size: 100px;
}

.main-eco p {
    max-width: 100%;
    padding: .5rem;
    margin: 2rem;
    text-align: justify;
    margin-left: 10rem;
    margin-right: 10rem;
}

.iframe-eco {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    padding: 2rem;
}

.main-eco li {
    max-width: 75vh;
    line-height: 2rem;
    margin-left: 10rem;
    margin-right: 10rem;
    align-items: center;

}

// MEDIA@ MAIN-ECOCARDIOGRAMA
@media (max-width: 480px) {
    .fondo-ecocardiograma {
        height: 25vh;
    }

    .fondo-ecocardiograma h1 {
        font-size: 50px;
    }

    .main-eco p {
        font-size: 16px;
        margin: 50px;
    }

    .main-eco li {
        font-size: 16px;
        margin: 10px;
        margin-right: 25px;
    }
}