// ESTILO PAGINA ERGOMETRIA
.fondo-ergometria {
    background-image: url(https://i.ytimg.com/vi/1fn1CWE6K80/maxresdefault.jpg);
    height: 50vh;
    background-size: cover;
    background-position: center;
    max-width: 100%;
}

.fondo-ergometria h1 {
    text-align: center;
    color: white;
    position: relative;
    top: 50%;
    font-size: 100px;
    max-width: 100%;
}

.main-ergometria h2 {
    margin: auto;
    text-align: center;
}

.main-ergometria p {
    max-width: 100%;
    padding: .5rem;
    margin: 2rem;
    text-align: justify;
    margin-left: 10rem;
    margin-right: 10rem;
}

.iframe-ergometria {

    display: block;
    margin: 0 auto;
    padding: 2rem;
    max-width: 100%;
}

h2 {
    margin: 2rem;
    margin-left: 10rem;
}

// MEDI@ ERGOMETRIA
@media (max-width: 480px) {
    .fondo-ergometria {
        height: 25vh;
    }

    .fondo-ergometria h1 {
        font-size: 50px;
    }

    .main-ergometria p {
        font-size: 16px;
        margin: 50px;


    }
}